*{
    padding:0;
    border:0;
    margin:0;
}





#city {
    padding:5px;
    padding-right:50px;
}

#get {
    margin-left: 10px;
}

#get>a {
    text-decoration: none;
    color:black
}

.variant {
    margin-top:10px;
}

.farenheit {
    margin-left: 10px;
}

.celsius>label {
    font-size: 19px;
}

.farenheit>label {
    font-size: 19px;
}


 body{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad {
    margin:15px;
}

#get, #city {
    padding:7px;
}


.weather {
    background-color: aquamarine;
}